html, body{
	min-height: 100%;
	height: 100%;
}

body{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.pageName{
	
}

.links{
	width: 100%;
	text-align: center;
}
.links a{
	display: inline-block;
	min-width: 150px;
	text-decoration: none;
	color: black;
	background: #B79E15;
}


.wrapper{
	margin-top: 20px;
	width: 500px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border: 1px solid;
}

.imageContainer{
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;
	width: auto;
	display: flex;
	flex-flow: row nowrap;

	transition-timing-function: linear;
}

.imageContainer img{
	height: 100px;
	transition: 1s;
}



